p {
    font-family: serif;
    letter-spacing: 1px;
    color: darkslategrey;
}

a:link {
    color: #265301;
}

a:visited{
    color: #437A;
}

a:hover{
    color: #CDFEAA;
}

body{
    width: 90%;
    margin: 25px;
    background-color: #5466A2;
    background-image: linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(127, 127, 205, 0.5)),
    url('images/luffy.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    right: 0;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

blockquote {
    font-size: 160%;
    background-color: lightgrey;
    border-left: 3px solid firebrick;
    padding: 80px 30px 80px 30px;
}

figcaption{
    color: #5466A2;
}

.quote {
    font-style: italic;
}

.villagers {
        border-left: 3px solid #5466A2;
}

.farmer {
        border-left: 3px solid #DDF506 ;
        
}

h1::first-letter {
    color: yellow;
}

.good {
    text-transform: capitalize;
    color: green;
}

.bad {
    text-transform: capitalize;
    color: red;
}

tr:nth-child(even) {
    background-color: #837979;
}

#bien::before {
    content: url(images/bien.png);
    background-repeat: no-repeat;
    position: relative;
    left: -3px;
    top: 10px;
}

#mal::before {
    content: url(images/mal.png);
    background-repeat: no-repeat;
    position: relative;
    left: -3px;
    top: 10px;
}

#chat::before {
    content: url(images/chat.png);
    background-repeat: no-repeat;
    position: relative;
    left: -3px;
    top: 10px;
}

.flex-container {
    position: relative;
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
 }
 
 .flex-container .side {
     display: flex;
     position: relative;
     align-items: center;
     max-width: 850px;
     margin: 10px;
     padding: 5px;
 }
 
 .flex-container .side .img {
     max-width: 150px;
     flex: 0 0 150px;
 }
 
 .flex-container .side .img img {
     max-width: 150%;
 }
 
 .flex-container .side .content {
     margin-left: 150px;
 }

thead, tbody {
    border: 2px solid black;
    border-collapse: collapse;
}
